.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
body{
	background: #F3F5F8;
}
.login_tips{
	width: 100%;
	height: 1.28rem;
	background: #FFF5D9;
	padding: 0 .4rem;
	box-sizing: border-box;
}
.login_tips span{
	color:#BDA361;
	font-size: .37rem;
	line-height: 1.28rem;
}
.login_tips a{
	width: 1.73rem;
	height: .83rem;
	line-height: .83rem;
	border-radius: .53rem;
	border: 1px solid #BDA361;
	display: inline-block;
	float: right;
	color:#BDA361;
	text-decoration: none;
	text-align: center;
	margin-top: .23rem;
	font-size: .37rem;
}
.list .cell{
	padding: 0 .4rem;
	box-sizing: border-box;
	background: #fff;
}
.list .cell:nth-child(2){
	padding-bottom: .4rem;
}
.list .row{
	padding: .4rem 0 0 0;
	border-bottom: 1px solid #eee;
	margin-bottom: .4rem;
}
.list .row:last-child{
	margin-bottom: 0;
}
.list .row h3{
	font-size: .37rem;
	font-weight: 400;
	color: #333;
	margin-bottom: .13rem;
}
.list .row h3 span{
	font-size: .27rem;
	color:#F33F38;
	margin-left: .27rem;
}
.list .inp_box{
	width: 100%;
	height: 1.07rem;
	position: relative;
}
.list .inp_box .icon_open{
	width: 1.07rem;
	height: 1.07rem;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.list .inp_box .icon_open svg{
	float: right;
	margin-top: .4rem;
}
.list .inp_box .unit_txt{
	color: #333;
	font-size: .37rem;
	position: absolute;
	right: .32rem;
	top: .29rem;
}
.list .inp_box input{
	width: 100%;
	height: 1.07rem;
	border:none;
	font-size: .48rem;
	color: #333;
	font-weight: 500;
}
.list .inp_box input::placeholder{
	color: #ccc;
	font-weight: 400;
}
.list .sel_row{
	padding: .8rem 0 0 0;
}
.list .sel_row h3{
	font-size: .37rem;
	color:#111;
	font-weight: 500;
}
.list .sel_row .sel_item{
	width: 2.88rem;
	height: 1.07rem;
	line-height: 1.07rem;
	border: 1px solid #F6F7F9;
	background: #F6F7F9;
	border-radius: .53rem;
	text-align: center;
	text-decoration: none;
	font-size: .37rem;
	color:#111;
	font-weight: 400;
	display: inline-block;
	float: left;
	margin: .4rem .27rem 0 0;
	box-sizing: border-box;
}
.list .sel_row .sel_item.cur{
	background: rgba(221, 179, 71, 0.2);
    border: 1px solid #BDA361;
    color: #BDA361;
}
.list .sel_row .sel_item:nth-child(3n){
	margin-right: 0;
}
.list .sel_row .text_area{
	margin-top: .4rem;
}
.list .sel_row textarea{
	width: 100%;
	height: 3.2rem;
	background: #F6F7F9;
	border-radius: 0.11rem;
	padding: .4rem;
	box-sizing: border-box;
	border:none;
	color: #333;
	font-size: .37rem;
}
.list .sel_row textarea::placeholder{
	color: #ccc;
}
.list .m_top_20{
	margin-top: .27rem;
}
.list .contact_info{
	padding: .4rem  .4rem 2.91rem .4rem;
}
.list .contact_info h3{
	font-size: .48rem;
	color: #333;
	font-weight: 500;
	margin: 0 0 .27rem 0;
}
.list .contact_info h3 span{
	color: #F33F38;
	font-size: .27rem;
	margin-left: .27rem;
}
.list .contact_info .inp_box{
	height: 1.47rem;
	border-bottom: 1px solid #eee;
}
.list .contact_info .inp_box input{
	width: 100%;
	height: 1.47rem;
	color: #333;
	font-size: .37rem;
	border:none;
}
.list .contact_info .inp_box input::placeholder{
	color: #ccc;
}
.list .contact_info .contactor_inp{
	width: 6.83rem;
	position: relative;
}
.list .contact_info .contactor_inp:after{
	content:'';
	width: 2px;
	height: 0.64rem;
	background: #ddd;
	display: block;
	position: absolute;
	top: .35rem;
	right: 0;
}
.list .contact_info .clear_btn{
	width: 1.17rem;
	height: 1.17rem;
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -.585rem;
	right: 0;
}
.list .contact_info .clear_btn svg{
	float: right;
	margin: .4rem .53rem 0 0;

}
.list .contact_info .contactor_sex{
	width: 2.35rem;
	padding-top: .35rem;
	box-sizing: border-box;
}
.list .contact_info .contactor_inp,
.list .contact_info .contactor_sex{
	display: inline-block;
	float: left;
}
.list .switch_btn{
	width: 1.95rem;
	height: .8rem;
	background: #BDA361;
	border-radius: .53rem;
	border: 2px solid #BDA361;
	box-sizing: border-box;
	position: relative;
	display: block;
	text-decoration: none;
	float: right;
}
.list .switch_btn .switch_txt{
	color: #fff;
	font-size: .37rem;
	line-height: .75rem;
	display: block;
	padding: 0 0 0 .32rem;
	box-sizing: border-box;
}
.list .switch_btn .switch_slider{
	width: .75rem;
	height: .75rem;
	background: #FFFFFF;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transition: all ease .25s;
}
.list .switch_on .switch_slider{
	transform: translateX(-1.15rem);
	-webkit-transform: translateX(-1.15rem);
}
.list .switch_on .switch_txt{
	padding: 0 .32rem 0 0;
    text-align: right;
}
.list .switch_on{
	background: #F33F38;
	border: 2px solid #E33B34;
}
.foo{
	width: 100%;
    height: 1.31rem;
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: .12rem .53rem;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.08);
}
.foo a{
	 height: 1.07rem;
    line-height: 1.07rem;
    display: inline-block;
    font-size: .43rem;
    border-radius: .53rem;
    text-align: center;
}
.foo a.cancel_btn {
    width: 3.44rem;
    border: 1px solid #D9D9D9;
    color: #666;
    box-sizing: border-box;
    margin-right: .27rem;
}

.foo a.confirm_btn {
    width: 5.23rem;
    background: linear-gradient(90deg, #E2C885 0%, #BDA361 100%);
    color: #fff;
}
.pop_box {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    -webkit-transform: translate3d(0,200%,0);
    -moz-transform: translate3d(0,200%,0);
    -ms-transform: translate3d(0,200%,0);
    -o-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.pop_box .pop_inner {
    width: 100%;
    height: 9rem;
    background: #fff;
    border-top-left-radius: .27rem;
    border-top-right-radius: .27rem;
    position: absolute;
    bottom: 0;
}

.pop_box .pop_shadow {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
}

.pop_box .pop_head {
    width: 100%;
    color: #333;
    font-size: 0.48rem;
    font-weight: 500;
    background: #fff;
    border-top-left-radius: .27rem;
    border-top-right-radius: .27rem;
    padding: .59rem .53rem;
    box-sizing: border-box;
}

.pop_box .pop_close {
    width: 1.23rem;
    height: 1.23rem;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    display: block;
}

.pop_box .pop_foo {
    width: 100%;
    height: 1.31rem;
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: .12rem .53rem;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.08);
    z-index: 999;
}

.pop_box .pop_foo a {
    height: 1.07rem;
    line-height: 1.07rem;
    display: inline-block;
    font-size: .43rem;
    border-radius: .53rem;
    text-align: center;
}

.pop_box .pop_foo a.cancel_btn {
    width: 3.44rem;
    border: 1px solid #D9D9D9;
    color: #666;
    box-sizing: border-box;
    margin-right: .27rem;
}

.pop_box .pop_foo a.confirm_btn {
    width: 5.23rem;
    background: linear-gradient(90deg, #E2C885 0%, #BDA361 100%);
    color: #fff;
}
.pop_box .pop_con{
	padding: 0 .4rem;
	box-sizing: border-box;
}
.pop_box .pop_con .item_title{
	font-size: .37rem;
	font-weight: 500;
	color: #333;
	margin: .27rem 0 .4rem 0;
}
.pop_box .pop_con .sel_item{
	width: 2.01rem;
	height: 1.07rem;
	line-height: 1.07rem;
	border-radius: .53rem;
	display: inline-block;
	text-align: center;
	color:#333;
	border: 1px solid #F6F7F9;
	text-decoration: none;
	background: #F6F7F9;
	margin: 0 .29rem .27rem 0;
	float:left;
}
.pop_box .pop_con .sel_item:last-child{
	margin-right: 0;
}
.pop_box .pop_con .sel_item.cur{
	background: rgba(221, 179, 71, 0.2);
	border: 1px solid #BDA361;
	color:#BDA361;
}
.pop_box .pop_con .input_wrap{
	width: 100%;
	height: 1.07rem;
	border-bottom: 1px solid #eee;
}
.pop_box .pop_con .input_wrap input{
	height: 1.07rem;
	border:none;
	font-size: .48rem;
	color: #333;
}
.pop_box .pop_con .input_wrap input::placeholder{
	color: #ccc;
}
.pop_box .close_btn{
	width: .59rem;
	height: .59rem;
	display: block;
	position: absolute;
	top: .53rem;
	right: .4rem;
}
.pop_box .close_btn svg{
	position: relative;
	top: .13rem;
	left: .13rem;
}
.moved {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.area_pop .pop_inner,
.days_pop .pop_inner{
	height: 7.12rem;
}
.members_pop .pop_inner{
	height: 9.96rem;
}
.days_pop .pop_con .sel_item:nth-child(4n){
	margin-right: 0;
}
.days_pop .pop_con{
	padding: 0 .53rem;
}
.days_pop .pop_con .sel_item{
	width: 1.99rem;
}
.members_pop .item_row{
	height: 1.33rem;
	border-bottom: 1px solid #eee;
}
.members_pop .item_row .lf_txt{
	font-size: .37rem;
	color: #333;
	line-height: 1.33rem;
}
.members_pop .item_row .rg_count{
	float: right;
	margin-top: .29rem;
}
.members_pop .item_row a{
	width: .75rem;
	height: .75rem;
	display: inline-block;
	text-decoration: none;
}
.members_pop .item_row input{
	width: 1.17rem;
	height: .75rem;
	background: #F6F7F9;
	display: inline-block;
	border:none;
	text-align: center;
}
.members_pop .item_row a.del_btn,
.members_pop .item_row input{
	margin-right: .21rem;
}
.members_pop .item_row a,
.members_pop .item_row input{
	float: left;
}
.members_pop .item_row a.del_btn svg{
	position: relative;
	top: .32rem;
	left: 50%;
	margin-left: -.13rem;
}
.members_pop .item_row a.add_btn svg{
	position: relative;
	top: .2rem;
	left: 50%;
	margin-left: -.13rem;
}