*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;}
body{font-family: 'microsoft yahei';font-size: 62.5%;}
.jm_wp{max-width: 10rem;margin: 0 auto;}
.jm_wp,.jm_banner{width: 100%;}
.jm_banner img{width: 100%;height: auto;display: block;margin: 0 auto;}